.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; 
  margin: 0; 
}
.App-header{
  margin-left: 33rem;
}

#weatherInput {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  margin-right: 12px;
  margin-bottom: 20px; 
}

.weather button {
  padding: 8px;
  border-radius: 30px;
  border: none;
}
